<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouttea}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Timetable</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body layout:fragment="body">
    <h1>Timetable</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Review Phase</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="timetable : ${timetables}">
                <td th:text="${timetable.panel_id}"></td>
                <td th:text="${timetable.reviewphase}"></td>
                <td th:text="${timetable.project_id}"></td>
                <td th:text="${#dates.format(timetable.date, 'yyyy-MM-dd')}"></td>
                <td th:text="${#dates.format(timetable.time)}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>