<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}" lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        body {
            background-image: url('/assets/welcomebg.jpg');
            background-size:cover;
            background-size: 100% 100%;
            background-position: center;
            background-repeat:repeat;
            background-attachment: scroll;
            position: relative;
          }
          
    </style>
</head>
<body class="d-flex flex-column h-100">
<main class="flex flex-sm-grow-1">
    <!-- Page Content-->
    <section layout:fragment="body" class="py-5">
        <div class="container flex flex-grow-1 px-4 my-3" style="background-color: rgba(255, 255, 255, 0.6);border-radius: 8px; width: fit-content;">
            <div class="text-center mb-3">
                <h2 class="fw-bolder">Current Users</h2>
                <h3>Names</h3>
            </div>
            <div th:each="userAccounts :${userAccounts}" class="text-center" >
                <a th:text="${userAccounts.name}" ></a>
            </div>
        </div>
    </section>
</main>
</body>
</html>